<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MUNCS Elections - Fall 2020</title>
    <meta name="author" content="Jack Arthur Harrhy">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <style>
html, body, pre, code, kbd, samp {
  font-family: "Press Start 2P";
}
body {
  margin-bottom: 4rem;
}
header {
  text-align: center;
  padding: 0.5rem 2rem;
}
.entry {
  margin: 3rem 1.5rem;
  max-width: 80rem;
}
#entry-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.entry .nes-container {
  margin: 3rem 0 0 0;
}
p {
  white-space: pre-wrap;
}

.title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

img {
  display: flex;
  margin: 0 auto;
  border: 2px solid black;
}

.photo {
  height: 25rem;
}
.role-entry {
  margin: 0.5rem;
  width: 10rem;
  text-align: center;
}
.role-entry img {
  height: 10rem;
}

h1 {
  margin: 2rem 2rem 1rem 2rem;
  text-align: center;
}

.role {
  margin: 0.5rem 0;
  background-color: white;
  color: black;
}
.role-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.roles h2 {
  text-align: center;
}
.roles h3 {
  text-align: center;
}
    </style>
  </head>
  <body>
    <header>
      <h1>Memorial University's Computer Science Societies Fall 2020 Election</h1>
      <p>This semester we're looking for new faces to help us create a community for students that is interactive, enjoyable, and familiar; vote for those faces below!.<p><a href="https://forms.gle/s1RtQiW68w7QE4Sr7"><button class="nes-btn is-primary">Vote here!</button></a>
    </header>
    <div id="entry-container">
      <div class="nes-container is-dark roles">
        <h2>Roles</h2>
        <%- roles.each do |key, value| -%>
          <div class="nes-container role">
            <h3><%= key %></h3>
            <div class="role-photos">
              <%- value.each_with_index do |entry, index| -%>
                <div class="role-entry">
                  <%- if photo = entry.photo-%>
                    <img src="./images/<%= photo %>" alt="Photograph of self sent in by <%= entry.name %>."/>
                  <%- end -%>
                  <a href="#<%= entry.name %>"><p><%= entry.name %></p></a>
                </div>
              <%- end -%>
            </div>
          </div>
        <%- end -%>
      </div>
      <%- entries.each_with_index do |entry, index| -%>
        <div class="nes-container entry" id="<%= entry.name %>">
          <a href="#<%= entry.name %>"><h2><%= index + 1 %>. <%= entry.name %></h2></a>
          <p><%= entry.email %></p>
          <%- if photo = entry.photo-%>
            <img class="photo" src="./images/<%= photo %>" alt="Photograph of self sent in by <%= entry.name %>."/>
          <%- end -%>
          <div class="nes-container with-title is-rounded">
            <p class="title">Why are you interested in becoming an executive? / What would make you a good executive?</p>
            <p><%= entry.paragraph_1 %></p>
          </div>
          <div class="nes-container with-title is-rounded">
            <p class="title">How long have you been in CS for? / What about CS interest you?</p>
            <p><%= entry.paragraph_2 %></p>
          </div>
          <div class="nes-container with-title is-rounded">
            <p class="title">Which position(s) are you interested in?</p>
            <div class="lists">
              <ul class="nes-list is-disc">
                <%- entry.roles.each do |role| -%>
                  <li><%= role %></li>
                <%- end -%>
              </ul>
            </div>
          </div>
          <br />
          <a href="https://forms.gle/s1RtQiW68w7QE4Sr7"><button class="nes-btn is-primary">Vote here!</button></a>
        </div>
      <%- end -%>
      <a href="https://github.com/MUNComputerScienceSociety/election-fall-2020">
        <div class="nes-container">
          <p>Checkout this site on GitHub!</p>
        </div>
      </a>
    </div>
  </body>
</html>
